<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="folder_name_cwebp" value="libwebp-1.3.2"/>
		<add key="simplegui_for_cwebp_homepage" value="https://pabloindev.net/simplegui-for-cwebp/"/>
	</appSettings>
</configuration>